* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: #fffefe;
}

body {
    margin: 0;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #434343);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#drop-menu h2 {
    margin-bottom: 2.2rem;
}

h2:hover {
    color: #fd9644;
}

#drop-menu {
    color: #fffefe;
    background: #000000;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: left;
    padding-left: 2rem;
    height: 22rem;
    position: fixed;
    font-size: 0.7rem;
    padding-right: 2rem;
    padding-top: 5rem;
    border-radius: 0rem 0rem 0rem 1rem;
}

#menu-button:hover {
    color: #fd9644;
}


.material-icons {
    margin-right: 1rem;
    font-size: 2rem;
    color: #fffefe;
    z-index: 7;
    margin-top: 4rem;
    margin-right: 1rem;
    position: fixed;
}

.contact-button:hover {
    background-color: #fd9644;

}

.right-home{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.contact-button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 1rem;
    border: solid #fd9644 2px;
    background: transparent;
    color: #fffefe;
    transition: ease-in 0.3s;
}

.image1 {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-top: 3rem;
}

#home span {
    color: #fd9644;
}

#home {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

#home h1 {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

#home p {
    color: #fffefe;
    font-size: 0.9rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.contact-list {
    list-style: none;
    display: none;
}

#about-me,
#contact-me,
#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    color: #fffefe;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
}

/* MEDIA QUERIS */
@media screen and (min-width: 400px) {
    #home h1 {
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
        margin-top: 4rem;
    }

    #home p {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .image1 {
        width: 20rem;
        height: 20rem;
    }

}

/* MEDIA QUERIS */
@media screen and (min-width: 600px) {

    #drop-menu {
        background: transparent;
        position: fixed;
        right: 0;
        left: auto;
        top: 0;
        z-index: 1;
        padding-top: 3rem;
        margin-top: 2rem;
        padding-left: 2rem;
        height: 16rem;
        font-size: 0.8rem;
    }

    #drop-menu h2 {
        margin-bottom: 2.2rem;
    }

    #home h1 {
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        margin-top: 4rem;
    }

    #home p {
        font-size: 1.3rem;
        margin-top: 2rem;
    }
}

    /* MEDIA QUERIS */
    @media screen and (min-width: 800px) {

        #drop-menu {
            background: black;
            position: fixed;
            z-index: 1;
            top: 0;
            margin-top: 0;
            width: 100%;
            height: 4rem;
            font-size: 0.8rem;
            border-radius: 0;
        }

        #drop-menu h2 {
            margin-right: 3rem;
            float: right;
            margin-top: -1.7rem;
        }

        #home h1 {
            font-size: 2.8rem;
            margin-top: 6rem;
        }

        #home p {
            font-size: 1.6rem;
            margin-top: 2rem;
        }
    }

        /* MEDIA QUERIS */
        @media screen and (min-width: 1000px) {

            main {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            #home {
                display: flex;
                flex-direction: column;
            }
            
            #home h1 {
                color: rgb(255, 255, 255);
                font-size: 4rem;
                margin-top: 7rem;
            }
        
            #home p {
                font-size: 1.7rem;
                margin-top: 1rem;
                align-items: flex-end;
            }

            .image1 {
                width: 17rem;
                height: 17rem;
                border-radius: 50%;
                margin-top: 4rem;
            }

            .contact-button{
                margin-top: 2rem;
                width: 12rem;
                font-size: 1.2rem;
            }
        }