* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: #fffefe;
}

body {
    margin: 0;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #434343);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #292929, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#drop-menu h2 {
    margin-bottom: 2.2rem;
}

header h2:hover {
    color: #fd9644;
    cursor: pointer;
}

#drop-menu {
    color: #eeeded;
    background: #000000;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: left;
    padding-left: 2rem;
    height: 22rem;
    position: fixed;
    font-size: 0.7rem;
    padding-right: 2rem;
    padding-top: 5rem;
    border-radius: 0rem 0rem 0rem 1rem;
}

#menu-button:hover {
    color: #fd9644;
    cursor: pointer;
}

.material-icons {
    font-size: 2rem;
    color: #fffefe;
    z-index: 7;
    margin-top: 4rem;
    margin-right: 1.2rem;
    position: fixed;
}

.contact-button:hover {
    box-shadow: 0 0 60px 60px #fd9644 inset;
    cursor: pointer;
}

.home-text {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.contact-button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 1rem;
    border: solid #fd9644 2px;
    background: transparent;
    color: #fffefe;
    transition: ease-in 0.3s;
}

.image1 {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-top: 3rem;
}

main h2 {
    color: #fd9644;
    font-size: 1.3rem;
}

#home span {
    color: #fd9644;
}

#home {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
}

#home h1 {
    color: rgb(240, 240, 240);
    font-size: 1.3rem;
}

#home p {
    color: #fffefe;
    font-size: 0.9rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#contact-me a:hover {
    -webkit-mask-image: linear-gradient(-75deg, #fd9644  30%, #fd9644 50%, rgb(253, 150, 68, 0) 100%);
    -webkit-mask-size: 200%;
    -webkit-text-fill-color: #fd9644 ;
    animation: shine 2s infinite;
    cursor: pointer;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

#about-me,
#contact-me,
#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
    color: #fffefe;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.7;
}

#portfolio {
    margin-bottom: 10rem;
}


/* MEDIA QUERIS */
@media screen and (min-width: 400px) {
    #home h1 {
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
        margin-top: 4rem;
    }

    #home {
        margin-top: 3rem;
    }

    #home p {
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    .image1 {
        width: 16rem;
        height: 16rem;
    }
}

/* MEDIA QUERIS */
@media screen and (min-width: 600px) {

    #drop-menu h2 {
        margin-bottom: 2.2rem;
    }

    #home h1 {
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        margin-top: 4rem;
    }

    #home p {
        font-size: 1.3rem;
        margin-top: 2rem;
    }

    #contact-me h2,
    #about-me h2,
    #contact-me h2,
    #portfolio h2 {
        font-size: 1.6rem;
    }

    #contact-me p {
        font-size: 1.2rem;
    }
}

/* MEDIA QUERIS */
@media screen and (min-width: 800px) {

    #about-me {
        width: 40rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    #drop-menu {
        background: transparent;
        position: fixed;
        z-index: 1;
        top: 0;
        padding-top: 3rem;
        width: 100%;
        height: 4rem;
        font-size: 0.8rem;
    }

    #drop-menu h2 {
        margin-right: 3rem;
        float: right;
        margin-top: -1.7rem;
    }

    #home h1 {
        font-size: 2.8rem;
        margin-top: 6rem;
    }

    #home {
        margin-top: 1rem;
    }

    #home p {
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    #contact-me h2,
    #about-me h2,
    #contact-me h2,
    #portfolio h2 {
        font-size: 2rem;
    }

    #contact-me p {
        font-size: 1.4rem;
    }
}

/* MEDIA QUERIS */
@media screen and (min-width: 1000px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #home {
        display: flex;
        flex-direction: row;
    }

    #home h1 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
        margin-top: 7rem;
    }

    #home p {
        font-size: 1.7rem;
        margin-top: 1rem;
        align-items: flex-end;
    }

    .image1 {
        width: 20rem;
        height: 23rem;
        border-radius: 2%;
        margin-top: 10rem;
        margin-left: 5rem;
    }

    .contact-button {
        margin-top: 2rem;
        width: 12rem;
        font-size: 1.2rem;
    }

    #about-me {
        width: 60rem;
    }
}